<p>
  The Adwap platform is a unique and impactful solution that allows users to support charitable
  causes simply by watching advertisements. Rooted in the concept of "advertising with a purpose,"
  Adwap bridges the gap between advertisers and social good. Advertisers can upload video ads and
  organize campaigns by selecting specific ads for each initiative. Once a campaign is launched,
  users can watch the assigned ads, and upon completion, they are given the opportunity to
  contribute the ad-generated revenue to a charity of their choice. The platform also features a
  robust admin panel where administrators can manage the list of registered charities, active
  campaigns, and advertisers.
</p>
<p>
  In addition, admins can access valuable analytics, including demographic insights such as the
  number of male and female users, total user count, total videos viewed, and the percentage of
  contributions made to each charity. This data is visually represented through intuitive charts,
  offering a clear view of platform impact and engagement.
</p>

<p><strong>Roles and Responsibilities:</strong></p>
<ul>
  <li>
    Delivered UI components for Adwap, a donation-based ad-watching platform, allowing users to
    support charities by viewing targeted ad campaigns.
  </li>
  <li>
    Integrated charts and dashboards to visualize campaign statistics including demographics, ad
    views, and donation metrics, aiding strategic decisions.
  </li>
  <li>
    Refactored legacy codebases to enhance maintainability and modularity, introducing reusable
    components and adhering to modern UI/UX patterns.
  </li>
  <li>
    Ensured full responsiveness and cross-browser compatibility to meet a diverse user base's
    expectations.
  </li>
  <li>
    Actively engaged with the Wekan open-source community to review PRs, fix bugs, and contribute
    enhancements in a collaborative, globally distributed development model.
  </li>
  <li>
    Followed Git workflows, agile principles, and asynchronous collaboration practices to deliver
    quality code on tight schedules.
  </li>
  <li>
    Actively participated in agile stand-ups, sprint planning, retrospectives and delivered features
    on time with a focus on quality and scalability.
  </li>
</ul>
