<p>
  The Sinapsis Doctor Portal is a dedicated platform that enables doctors to seamlessly conduct
  consultations booked by patients through the Sinapsis mobile app. It provides healthcare
  professionals with comprehensive access to each patient’s medical records, including past visit
  history, medical conditions, previous and current medications, and attached media files such as
  lab reports or diagnostic images.
</p>
<p>
  During consultations, doctors can also view and document current visit details, allowing for
  accurate and informed medical assessments. Based on the chief complaint entered by the patient
  during the booking process, the system intelligently routes the consultation to the appropriate
  specialist, ensuring efficient queue management and timely care.
</p>
<p>
  Complementing this is the Sinapsis Admin Portal, which empowers administrators to manage the
  entire healthcare ecosystem—including providers, patients, doctors, and consultations—through a
  centralized interface. Additionally, the Sinapsis Provider Portal is designed for provider-level
  users to manage service subscriptions, making it easier to oversee and optimize their engagement
  with the Sinapsis platform.
</p>

<p><strong>Roles and Responsibilities:</strong></p>
<ul>
  <li>
    Designed and implemented responsive user interfaces for multiple healthcare and social impact
    platforms using Angular, ensuring seamless usability across doctor, admin, and provider portals.
  </li>
  <li>
    Built features for Sinapsis, enabling doctors to conduct virtual consultations, access patient
    histories, manage medical records, and handle attachments such as prescriptions and diagnostic
    media.
  </li>
  <li>
    Developed admin and provider-facing modules to manage users, consultations, and subscription
    plans, improving the efficiency of operational workflows.
  </li>
  <li>
    Ensured full responsiveness and cross-browser compatibility to meet a diverse user base's
    expectations.
  </li>
  <li>
    Actively engaged with the Wekan community to review PRs, fix bugs, and contribute enhancements
    in a collaborative, globally distributed development model.
  </li>
  <li>
    Followed Git workflows, agile principles, and asynchronous collaboration practices to deliver
    quality code on tight schedules.
  </li>
  <li>
    Actively participated in agile stand-ups, sprint planning, retrospectives and delivered features
    on time with a focus on quality and scalability.
  </li>
</ul>
