<p>
  Shimadzu CMS is a robust administrative panel application designed to manage and organize a wide
  range of Shimadzu products, including articles, media assets, collateral, environmental analysis
  reports, and mycotoxin data. The system offers a role-based access control mechanism, ensuring
  that users can only access content relevant to their responsibilities and permissions. Products
  within the CMS are distributed across seven distinct global regions, with each region comprising
  multiple organizations.
</p>
<p>
  Furthermore, each organization can include several sub-organizations, along with both admin and
  applicationlevel users. The CMS enables admin users to efficiently assign products to specific
  regions, organizations, and individual users, ensuring precise control over content distribution.
  This hierarchical structure allows for scalable content management and streamlined collaboration
  across a diverse user base.
</p>
<p>
  With its user-friendly interface and powerful permissions system, Shimadzu CMS plays a critical
  role in maintaining data integrity, improving operational efficiency, and supporting global
  content accessibility across the enterprise.
</p>

<p><strong>Roles and Responsibilities:</strong></p>
<ul>
  <li>
    Developed responsive, user-friendly web interfaces for B2B platforms using Angular, SCSS, and
    JavaScript, ensuring compatibility across devices and browsers.
  </li>
  <li>
    Built customizable UI components for MOBOTIX Toolbox, enabling partners to access marketing
    resources such as brochures, videos, presentations, and multilingual content to support regional
    sales efforts.
  </li>
  <li>
    Implemented role-based access control in Shimadzu CMS, allowing administrators to manage product
    visibility across multiple regions, organizations, and user hierarchies.
  </li>
  <li>
    Ensured full responsiveness and cross-browser compatibility to meet a diverse user base's
    expectations.
  </li>
  <li>
    Optimized performance by implementing lazy loading and modular design patterns, reducing initial
    page load time by up to 30%.
  </li>
  <li>
    Promoted scalability and code reuse by creating modular, maintainable components and shared
    services across both projects.
  </li>
  <li>
    Participated in code reviews and created technical documentation to uphold high standards of
    code quality and support onboarding of new developers.
  </li>
</ul>
