.sidebar-outer {
  display: flex;
  flex-direction: column;
  height: 100%; // this now respects parent height (from sticky wrapper)
}

.sidebar-scrollable {
  flex: 1 1 auto;
  overflow-y: auto;
}

// .sidebar-outer { background: #222; }
// .sidebar-scrollable { background: #333; }

.sidebar-scrollable {
  flex: 1 1 auto;
  overflow-y: auto;

  /* Hide scrollbar for all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.sidebar-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.typed-text {
  font-size: 1.5rem !important;
}