<!-- Outer fixed-height sidebar container -->
<div class="sidebar-outer d-flex flex-column h-100 shadow text-center">
  
  <!-- Static header -->
  <div class="px-3">
    <img class="w-100 img-fluid mb-1" src="assets/profile.jpg" alt="Image" />
    <h1 class="text-primary mt-2">Rajkumar Ponnusamy</h1>
    <div class="mb-2">
      <!-- <h4 class="typed-text-output d-inline-block text-light"></h4> -->
      <div class="typed-text">Senior Software Engineer</div>
    </div>
  </div>

  <!-- Scrollable middle section -->
  <div class="sidebar-scrollable flex-grow-1 overflow-auto px-3">
    <div class="d-flex justify-content-center mb-3">
      <a class="btn btn-info btn-square mx-1" href="https://..." target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
  </div>

  <!-- Sticky footer buttons -->
  <div class="d-flex align-items-end justify-content-between border-top">
    <a href="" class="btn w-50 border-end" (click)="downloadPDF()">Download CV</a>
    <a href="#contact" class="btn w-50 btn-scroll">Contact Me</a>
  </div>

</div>
