<p>
  The Employee Self-Support(ESS) Application is a user-friendly platform designed to streamline and
  manage daily work-related activities for employees. It empowers users to take control of their
  workday by enabling them to conveniently mark their attendance through the application.
</p>
<p>
  In addition to attendance tracking, the app provides easy access to essential payroll information,
  including downloadable salary payslips, detailed breakdowns of Cost to Company (CTC), and tax
  deductions. By offering a centralized hub for managing personal employment data, the application
  reduces the need for manual HR interventions and enhances transparency in employee-employer
  communication.
</p>
<p>
  Employees can independently review and verify their compensation details, helping them stay
  informed about their earnings and tax obligations. The intuitive interface ensures that users can
  navigate and utilize the system with ease, improving overall efficiency and satisfaction in
  workplace operations. Ultimately, the Employee SelfSupport Application fosters a more organized,
  transparent, and empowered work environment.
</p>

<p><strong>Roles and Responsibilities:</strong></p>
<ul>
  <li>
    Led the development of scalable, high-performance web and hybrid mobile applications tailored
    for employee management and e-learning.
  </li>
  <li>
    Built the Learning Management System (LMS) to upskill users through structured course
    assignments, tests, and certification workflows, with real-time progress tracking.
  </li>
  <li>
    Architected clean, modular frontend structures with Angular Material and RxJS, ensuring
    optimized data flow and maintainability.
  </li>
  <li>
    Integrated backend services using Node.js and PostgreSQL, improving overall system response time
    by 20%.
  </li>
  <li>
    Spearheaded the migration from legacy frontend frameworks to Angular, reducing technical debt by
    40% and enhancing code readability and reusability.
  </li>
  <li>
    Mentored junior developers through code reviews and pair programming, fostering a strong
    engineering culture and improving team output.
  </li>
  <li>
    Actively participated in agile stand-ups, sprint planning, retrospectives and delivered features
    on time with a focus on quality and scalability.
  </li>
</ul>
