<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s" id="skills">
  <h1 class="title pb-3 mb-5">Skills</h1>
 
  <ul class="list-inline">
    <li class="list-inline-item badge bg-primary me-2 mb-2">Angular 19</li>
    <li class="list-inline-item badge bg-secondary me-2 mb-2">TypeScript</li>
    <li class="list-inline-item badge bg-success me-2 mb-2">JavaScript (ES6+)</li>
    <li class="list-inline-item badge bg-primary me-2 mb-2">NodeJS</li>
    <li class="list-inline-item badge bg-secondary me-2 mb-2">WebSocket</li>
    <li class="list-inline-item badge bg-danger me-2 mb-2">RxJS</li>
    <li class="list-inline-item badge bg-info text-dark me-2 mb-2">REST APIs</li>
    <li class="list-inline-item badge bg-warning text-dark me-2 mb-2">Agile & Scrum</li>
    <li class="list-inline-item badge bg-dark me-2 mb-2">Unit Testing (Jasmine, Karma)</li>
    <li class="list-inline-item badge bg-primary me-2 mb-2">Angular Material</li>
    <li class="list-inline-item badge bg-secondary me-2 mb-2">Bootstrap</li>
    <li class="list-inline-item badge bg-success me-2 mb-2">ANT design</li>
    <li class="list-inline-item badge bg-danger me-2 mb-2">Ionic 5</li>
  </ul>
</section>
