<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
  <h1 class="title pb-3 mb-5">Skills</h1>
  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <p class="mb-2">HTML</p>
          <p class="mb-2">95%</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95"
            aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
        </div>
      </div>

      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <p class="mb-2">CSS</p>
          <p class="mb-2">85%</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85"
            aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
        </div>
      </div>

      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <p class="mb-2">TypeScript</p>
          <p class="mb-2">90%</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90"
            aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <p class="mb-2">Javascript</p>
          <p class="mb-2">90%</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90"
            aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
        </div>
      </div>

      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <p class="mb-2">Angular 19</p>
          <p class="mb-2">95%</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="95"
            aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
        </div>
      </div>

      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <p class="mb-2">NodeJs</p>
          <p class="mb-2">85%</p>
        </div>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85"
            aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
        </div>
      </div>
    </div>
  </div> -->
  <ul class="list-inline">
    <li class="list-inline-item badge bg-primary me-2 mb-2">Angular 19</li>
    <li class="list-inline-item badge bg-secondary me-2 mb-2">TypeScript</li>
    <li class="list-inline-item badge bg-success me-2 mb-2">JavaScript (ES6+)</li>
    <li class="list-inline-item badge bg-primary me-2 mb-2">NodeJS</li>
    <li class="list-inline-item badge bg-secondary me-2 mb-2">WebSocket</li>
    <li class="list-inline-item badge bg-danger me-2 mb-2">RxJS</li>
    <li class="list-inline-item badge bg-info text-dark me-2 mb-2">REST APIs</li>
    <li class="list-inline-item badge bg-warning text-dark me-2 mb-2">Agile & Scrum</li>
    <li class="list-inline-item badge bg-dark me-2 mb-2">Unit Testing (Jasmine, Karma)</li>
    <li class="list-inline-item badge bg-primary me-2 mb-2">Angular Material</li>
    <li class="list-inline-item badge bg-secondary me-2 mb-2">Bootstrap</li>
    <li class="list-inline-item badge bg-success me-2 mb-2">ANT design</li>
    <li class="list-inline-item badge bg-danger me-2 mb-2">Ionic 5</li>
  </ul>
</section>
