/* You can add global styles to this file, and also import other style files */
body {
  background-color: honeydew !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  flex: 1;
}
