<section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s"id="experience">
  <h1 class="title pb-3 mb-5">Experience</h1>
  <div class="timeline-wrapper">
    <div class="timeline-item">
      <span class="arrow-icon bi bi-arrow-right"></span>
      <h5 class="mb-1">Citicorp services India private Limited</h5>
      <p class="mb-2">
        Senior Software Engineer - Officer C11 |
        <small>Nov 2022 - present</small>
      </p>
      <p>
        Experienced Senior Software Engineer skilled in designing and developing scalable web
        applications. Proficient in front-end technologies, with a strong focus on performance,
        clean code, and team collaboration. Regularly contributes to architecture decisions, mentors
        junior developers, and ensures project success through efficient coding, testing, and
        deployment practices
      </p>
    </div>
    <div class="timeline-item">
      <span class="arrow-icon bi bi-arrow-right"></span>
      <h5 class="mb-1">Indium Software Private Limited</h5>
      <p class="mb-2">Senior Software Engineer | <small>Jan 2021 - Nov 2022</small></p>
      <p>
        As a Senior Software Engineer, I have led the design, development, and deployment of
        scalable web applications using modern technologies. With extensive experience in front-end,
        I specialize in creating robust, high-performance systems that solve complex business
        problems. I collaborate cross-functionally with product managers, designers, and QA teams to
        deliver clean, maintainable code and ensure timely releases. I also mentor junior
        developers, review code, and contribute to architectural decisions. My focus on continuous
        learning and innovation has enabled me to stay ahead in a fast-evolving tech landscape,
        delivering impactful solutions and driving project success from concept to launch.
      </p>
    </div>
    <div class="timeline-item">
      <span class="arrow-icon bi bi-arrow-right"></span>
      <h5 class="mb-1">Wekancode Technologies Private Limited</h5>
      <p class="mb-2">Software Development Engineer | <small>Feb 2020 - Oct 2020</small></p>
      <p>
        Software Development Engineer with hands-on experience in building and maintaining
        efficient, scalable applications. Skilled in problem-solving, writing clean code, and
        collaborating in agile teams. Focused on delivering high-quality software solutions,
        participating in code reviews, and continuously improving systems through testing,
        debugging, and learning modern development tools and frameworks.
      </p>
    </div>

    <div class="timeline-item">
      <span class="arrow-icon bi bi-arrow-right"></span>
      <h5 class="mb-1">Ideaplunge Solutions LLP</h5>
      <p class="mb-2">Application Developer | <small>Feb 2019 - Jan 2020</small></p>
      <p>
        Application Developer with expertise in designing, developing, and maintaining user-friendly
        applications across web and mobile platforms. Proficient in full-stack development,
        troubleshooting, and optimizing performance. Collaborates closely with cross-functional
        teams to understand requirements, deliver reliable solutions, and enhance user experience
        through clean code, responsive design, and continuous improvement.
      </p>
    </div>

    <div class="timeline-item">
      <span class="arrow-icon bi bi-arrow-right"></span>
      <h5 class="mb-1">Aigilx Health Technologies Private Limited</h5>
      <p class="mb-2">Software Engineer | <small>May 2017 - Jan 2019</small></p>
      <p>
        Software Engineer with experience in developing, testing, and maintaining reliable software
        applications. Skilled in multiple programming languages and development frameworks.
        Collaborates effectively with teams to deliver scalable solutions, write clean and efficient
        code, and solve real-world problems. Committed to continuous learning and improving software
        quality through best practices.
      </p>
    </div>
  </div>
</section>
